<div class="container-fluid">
  <row>
    <div class="col-sm-12">
      <span class="text-center"><h1><a ui-sref="home"><i class="fa fa-arrow-up"></i></a>Game</h1></span>
    </div>
  </row>
  <row>
    <div class="col-sm-12">
      <div class="text-center">
        <h4>Date: {{game.date | date}}</h4>
      </div>
    </div>
  </row>
  <row>
    <form>
      <div class="form-group">
        <label for="rounds">Rounds</label>
        <input type="number"
               ng-model="game.rounds"
               class="form-control"
               id="rounds"
               required disabled>
      </div>
      <div class="form-group">
        <label for="venue">Venue</label>
        <input type="text"
               ng-model="game.venue"
               class="form-control"
               id="venue"
               required="" disabled>
      </div>
      <div class="form-group">
        <label for="team">Team</label>
        <input type="text"
               ng-model="game.team"
               class="form-control"
               id="team"
               required="" disabled>
      </div>
    </form>
  </row>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Points</th>
      <th>Joker?</th>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="4">Game Score: {{gameScore}}</h5></th>
    </tr>
    </tfoot>
    <tbody>
    <tr ng-repeat="round in rounds track by $index ">
      <td>
        {{$index + 1}}
      </td>
      <td>
        {{round ? points(round) : 0}}
      </td>
      <td>
        <i ng-class="{'fa-check-square-o': round.joker, 'fa-square-o': !round.joker}" class="fa fa-lg"></i>
      </td>
      <td>
        <button type="button" class="btn btn-default btn-block" ng-click="goToRound($index)">GO
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-xs-12">
      <button type="button" ng-click="deleteGame()" class="btn btn-xs btn-block btn-warning">Erase Game</button>
    </div>
  </div>

</div>
