<div class="container-fluid">
  <row>
    <div class="col-sm-12">
      <span class="text-center"><h1>New Game</h1></span>
    </div>
  </row>
  <row>
    <div class="col-sm-12">
      <div class="text-center">
        <h4>Date: {{game.date | date}}</h4>
      </div>
    </div>
  </row>
  <row>
    <form>
      <div class="form-group">
        <label for="rounds">Rounds</label>
        <input type="number"
               ng-model="game.rounds"
               class="form-control"
               id="rounds"
               required>
      </div>
      <div class="form-group">
        <label for="venue">Venue</label>
        <input type="text"
               ng-model="game.venue"
               class="form-control"
               id="venue"
               required="">
      </div>
      <div class="form-group">
        <label for="team">Team</label>
        <input type="text"
               ng-model="game.team"
               class="form-control"
               id="team"
               >
      </div>
    </form>
  </row>
  <row>
    <div class="col-xs-6">
      <div class="text-center">
        <a class="btn btn-lg btn-block btn-default" ui-sref="home">Back</a>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="text-center">
        <a class="btn btn-lg btn-block btn-primary" ng-click="saveGame()">Start</a>
      </div>
    </div>
  </row>
</div>
