<div class="container">


  <div class="jumbotron text-center">
    <h1>Trivia Tracker</h1>

    <p><a class="btn btn-lg btn-success" ui-sref="new-game">New Game</a></p>
  </div>


  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Venue</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="game in games track by $index ">
      <td>
        {{game.date | date:'mediumDate'}}
      </td>
      <td>
        {{game.venue}}
      </td>
      <td>
        <button type="button" class="btn btn-default btn-block" ui-sref="game({gameId: game.gameId})">GO
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" ng-click="clear()" class="btn btn-xs btn-block btn-warning">Erase All</button>
    </div>
  </div>

</div>
