.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.top5 {
  margin-top: 5px;
}

.bot5 {
  margin-bottom: 5px
}

// injector
// endinjector
