<nav class="navbar navbar-default" ng-controller="NavbarCtrl" bs-navbar>
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="home" class="navbar-brand">
        <i class="fa fa-home"></i> Trivia Tracker
      </a>
    </div>


  </div>
</nav>


