<div class="container-fluid" ng-swipe-right="previousRound()" ng-swipe-left="nextRound()">
  <row>
    <div class="col-xs-12">
      <span class="text-center"><h1><a ng-click="goToGame()"><i class="fa fa-arrow-up"></i></a>Round {{roundNumber}}</h1></span>
    </div>
  </row>
  <row>
    <div class="col-xs-6">
      <p class="text-center">Round Score: {{roundScore}}</p>
    </div>
    <div class="col-xs-6">
      <p class="text-center">Game Score: {{gameScore}}</p>
    </div>
  </row>
  <!--<row>-->
  <!--<div class="col-xs-6">-->
  <!--<p class="text-center"></p>-->
  <!--</div>-->
  <!--<div class="col-xs-6">-->
  <!--<p class="text-center">Max Possible Score: {{maxScore}} ({{maxScoreJwipe?oker}})</p>-->
  <!--</div>-->
  <!--</row>-->

  <!--<pre>{{round | json}}</pre>-->


  <form class="form-horizontal">
    <div class="form-group">
      <label for="numberOfPoints" class="col-xs-3"># of Points</label>

      <div class="col-xs-3">
        <input type="number" class="form-control" id="numberOfPoints" ng-model="round.numberOfPoints">
      </div>
      <div class="col-xs-6">
        <button type="button" ng-click="toggleJoker()" class="btn btn-lg btn-block btn-default">Joker
          <i ng-class="{'fa-check-square-o': round.joker, 'fa-square-o': !round.joker}" class="fa fa-lg"></i>
        </button>
      </div>
    </div>
  </form>

  <row>
    <div class="col-xs-12">
      <hr>
    </div>
  </row>

  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Points Earned {{round.correct}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <button type="button" class="btn btn-lg btn-block btn-danger" ng-click="incorrect()"><i class="fa fa-minus"></i>
      </button>
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-lg btn-block btn-success" ng-click="correct()"><i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <!--<div class="row top5" ng-repeat="point in round.points track by $index">-->
  <!--<div class="col-xs-6">-->
  <!--<button type="button"-->
  <!--ng-class="{'btn-danger': point === false}"-->
  <!--ng-click="incorrect($index)"-->
  <!--class="btn btn-lg btn-block btn-default ">Incorrect-->
  <!--</button>-->
  <!--</div>-->
  <!--<div class="col-xs-6">-->
  <!--<button type="button"-->
  <!--ng-class="{'btn-success': point}"-->
  <!--ng-click="correct($index)"-->
  <!--class="btn btn-lg btn-block btn-default">Correct-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->

  <row>
    <div class="col-xs-12">
      <hr>
    </div>
  </row>
  <div class="row bot5">
    <div class="col-xs-6">
      <div class="text-center">
        <a class="btn btn-block btn-lg btn-default" ng-click="previousRound()">Previous</a>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="text-center">
        <a class="btn btn-block btn-lg btn-primary" ng-click="nextRound()">Next</a>
      </div>
    </div>
  </div>
</div>
